@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap);
body {
    font-family: Poppins, sans-serif;
}
.form-container {
    margin: 8rem auto;
    max-width: 1300px;
    min-height: 660px;
    /* overflow: hidden; */
    padding: 0 2%;
    width: 100%;
}
.form-container h1 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 0.6px;
}
.form-container h3 {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.3px;
    word-spacing: 0.6px;
}
.hearing-test-page header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}
.hearing-test-page-wrapper .htpw-part-1,
.htpw-part-1 .col-1-wrapper {
    align-items: center;
    display: flex;
    gap: 2rem;
}
.hearing-test-page-wrapper {
    /* border:2px solid red; */
    height: 520px;
}

.htpw-part-1 .col-1-wrapper {
    width: calc(60% - 1rem);
}
.htpw-part-1 .col-1-wrapper .col-1,
.htpw-part-1 .col-1-wrapper .col-2 {
    width: calc(50% - 1rem);
}
.htpw-part-1 .col-2-wrapper {
    width: calc(40% - 1rem);
}
.col-2-wrapper figure {
    margin: 0;
}
.col-2-wrapper figure img {
    width: 100%;
}
.form-container heading {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  /* justify-items: center; */
    margin-top: 3rem;
}
.form-container .question-wrapper {
    margin-top: 1rem;
}
figure img {
    max-width: 480px;
}
.question-wrapper .text-buttons {
    align-items: center;
    display: flex;
    gap: 0.8rem;
    margin-top: 0.5rem;
}
.question-wrapper div:first-child .text-buttons {
    margin-bottom: 0.6rem;
}
.question-wrapper .radio-buttons {
    align-items: center;
    display: flex;
    gap: 0.8rem;
}
.html5-endscreen
    .ytp-player-content
    .videowall-endscreen
    .ytp-endscreen-paginate
    .ytp-show-tiles,
.ytp-endscreen-conten,
:not(.ytp-mweb-player) .html5-endscreen {
    display: none;
}
.main-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10rem;
    justify-content: space-between;
}
.main-wrapper > div {
    width: 90%;
}
.input-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}
.input-wrapper .text-buttons {
    width: 80%;
}
.input-wrapper label {
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 0 !important;
    text-transform: capitalize;
}
label {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 10px;
    text-transform: capitalize;
}
.input-wrapper .text-buttons input[type="text"] {
    border: 2px solid #bfbfbf;
    border-radius: 0.3rem;
    font-size: 0.95rem;
    font-weight: 500;
    outline: none;
    padding: 0.6rem 0.8rem;
    width: 80%;
}
.input-wrapper .text-buttons input[type="text"]:focus,
.input-wrapper .text-buttons input[type="text"]:hover {
    border-color: #f46003;
}
.question-wrapper .radio-buttons input[type="radio"] {
    margin: 0;
}
.question-wrapper .radio-buttons input[type="radio"]:after {
    background-color: #d1d3d1;
}
.question-wrapper .radio-buttons input[type="radio"]:after,
.question-wrapper .radio-buttons input[type="radio"]:checked:after {
    border: 2px solid #fff;
    border-radius: 18px;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 18px;
    left: -1px;
    position: relative;
    top: -2px;
    visibility: visible;
    width: 18px;
}
.question-wrapper .radio-buttons input[type="radio"]:checked:after {
    background-color: #d25200;
}
.question-wrapper div:not(:first-child) div {
    margin-top: 0.6rem;
}
.question-container {
    display: none;
    margin-bottom: 20px;
}
.question-container.active {
    display: block;
}
.button-group {
    margin-top: 20px;
}
.button-group button,
.hearing-test-page button {
    background-color: #f46003;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 1.3rem;
    font-weight: 400;
    outline: none;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
}
.question-container label {
    color: #333;
    font-weight: 700;
    margin-bottom: 5px;
}
.start-button {
    margin-top: 20px;
    text-align: center;
}
.start-button button {
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}
h2 {
    font-size: 24px;
}
h2,
h3 {
    margin-bottom: 10px;
}
h3 {
    font-size: 18px;
}
p {
    margin-bottom: 20px;
}
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.button-group button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    padding: 10px 20px;
}
.button-group button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.progress-bar {
    background-color: #ccc;
    border-radius: 20px;
    height: 20px;
    width: 100%;
}
.progress {
    background: linear-gradient(to right, #ff8c00 0%, #ff8c00 40%, #d25200 100%);
    border-radius: 100px;
    height: 100%;
}

.error-message {
    color: #d50000cf;
    font-size: 0.8rem;
    font-weight: 300;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    word-spacing: 0.6px;
}
.col .test-parts,
.test-part {
    border-radius: 10px;
    margin: 20px 0;
    padding: 0.6rem 1rem;
    transition: box-shadow 0.2s linear;
}
.Number-of-test-part,
.col .test-parts .nums {
    align-items: center;
    background: #d25200;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 3px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.Number-of-test-part span,
.col .test-parts .nums span {
    align-items: center;
    border: 3px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: 1.3rem;
    height: 2.5rem;
    justify-content: center;
    width: 2.5rem;
}
.col-1-wrapper .col h2 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1rem;
}
button {
    background-color: #d25200;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    padding: 10px 20px;
    text-transform: capitalize;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #ba4200;
}
.col .test-parts {
    border-radius: 10px;
    margin: 20px 0;
    padding: 0.6rem 1rem;
    transition: box-shadow 0.3s ease;
}
.col .test-parts:hover {
    box-shadow: -1.113rem 1.15rem 1.938rem 0 #878b95;
}
@media only screen and (max-width: 768px) {
    .form-container {
        margin: 10rem auto;
        padding: 0 1%;
    }
    .form-container h1 {
        font-size: 1.2rem;
    }
    .text-buttons input[type="text"] {
        width: 100px;
    }
    .form-container h3 {
        font-size: 1rem;
    }
    .hearing-test-page-wrapper {
        /* border:2px solid red; */
        height: 800px;
    }

    .hearing-test-page header button {
        display: block;
        border: none;
        outline: none;
        font-size: 1rem;
        font-weight: 400;
        background-color: #d25200;
        color: white;
        padding: 1rem 0.6rem;
        border-radius: 5px;
        text-transform: capitalize;
    }
}
@media screen and (min-width: 321px) and (max-width: 720px) {
    .input-wrapper .text-buttons input[type="text"] {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .hearing-test-page-wrapper {
        display: flex;
        margin: 0.2rem 1.5rem;
    }
    .htpw-part-1 .col-1-wrapper {
        align-items: stretch;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    .htpw-part-1 .col-1-wrapper .col-1,
    .htpw-part-1 .col-1-wrapper .col-2 {
        width: 100%;
    }
    .col-2-wrapper {
        margin-top: 1rem;
    }
    .hearing-test-page-wrapper .htpw-part-1 {
      display: flex;
      align-items: center;
        flex-direction: column;
        gap: 0.5rem;
    }
    .main-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: space-around;
    }
    .form-container heading {
        display: grid;
        /* align-items: center; */
        gap: 1.2rem;
        grid-template-columns: 50px repeat(1, 1fr);
        margin-top: 6.5rem;
        justify-items: center;
    }

    .img{
      margin-left: 450px;
    }
    .form-container .question-wrapper {
        margin-top: 1rem;
    }
    .form-container heading > h2 {
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
    }
    h2 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    figure img {
        max-width: 300px;
    }
    .input-wrapper label {
        font-size: 0.8rem;
        font-weight: 500;
        text-transform: capitalize;
        width: 10px;
    }
    .input-wrapper {
        width: 1rem;
    }
    .input-wrapper .text-buttons input[type="text"] {
        width: 450px;
    }

    
    .col-2-wrapper figure {
      max-width: 100%;
      position: relative;
      left: -90px;

        /* border: 2px solid red; */
    }

    .col-2-wrapper figure img {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        /* width: 40 */
    }

    .hearing-test-page header h1 {
        font-size: 1.3rem;
        font-weight: 500;
        text-align: center;
    }

    .form-container {
        margin: 12rem auto;
        padding: 0 1%;
    }
    .hearing-test-page-wrapper {
        /* border:2px solid red; */
        height: 1060px;
    }

    .hearing-test-page header button {
        display: block;
        border: none;
        outline: none;
        font-size: 0.8rem;
        font-weight: 400;
        background-color: #d25200;
        color: white;
        padding: 0.6rem 0.5rem;
        border-radius: 5px;
        text-transform: capitalize;
    }
}
/*# sourceMappingURL=main.13e0cec1.css.map*/
